<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822331758370-1aobd2638b8rn85lr01gom9dhpo3pdji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822331758370-1aobd2638b8rn85lr01gom9dhpo3pdji</string>
	<key>API_KEY</key>
	<string>AIzaSyAiGhDLB9zI4KzzGq50YsfICvVRaAFmhUg</string>
	<key>GCM_SENDER_ID</key>
	<string>822331758370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dfieflv.ChatAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatwithfirebaseapp-c1475</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwithfirebaseapp-c1475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822331758370:ios:715249f94dba778f17377b</string>
</dict>
</plist>